@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;

}

.navbar {
    padding: .8rem;

}

.navbar-nav li {
    padding-right: 20px;

}

.nav-link {
    font-size: 1.1em !important;
}


.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height: 80px;

}
.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}



.padding {
    padding-bottom: 2rem;

}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;

}

.fa-edit {
    color: #069906;

}

.fa-clipboard {
    color: #460699;
}

.fa-cog {
    color: #990606;
}

.fa-edit, .fa-clipboard, .fa-cog {
    font-size: 4em;
    margin: 1rem;
}

.info {
    width: 100%;
    height: 100px;
    margin-bottom: 2rem;
    background-color: #6648b1;
    border: 1px solid #6648b1;
    color: white;

}

.info:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}




footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;

}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

 





@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
   


    .display-4 {
        font-size: 200%;
    }

    
}
@media (max-width: 576px) {

    
    .display-4 {
        font-size: 160%;
    }


}


